In [2]:
import time
import pandas as pd
import numpy as np

In [3]:
CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

In [4]:
chicago_csv = pd.read_csv('chicago.csv')

In [5]:
chicago = pd.DataFrame(chicago_csv)

In [6]:
chicago

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0
...,...,...,...,...,...,...,...,...,...
299995,64825,2017-01-21 13:18:00,2017-01-21 13:27:50,590,Orleans St & Elm St (*),Sheffield Ave & Webster Ave,Subscriber,Male,1965.0
299996,695993,2017-04-28 19:32:19,2017-04-28 19:51:18,1139,Ashland Ave & Blackhawk St,Clark St & Elm St,Customer,NaN,NaN
299997,159685,2017-02-12 09:59:01,2017-02-12 10:21:49,1368,Ravenswood Ave & Lawrence Ave,Stockton Dr & Wrightwood Ave,Subscriber,Female,1988.0
299998,564681,2017-04-16 17:07:15,2017-04-16 17:19:00,705,Sheffield Ave & Willow St,Clark St & Chicago Ave,Customer,NaN,NaN
299999,1021247,2017-05-30 12:38:28,2017-05-30 12:55:36,1028,Wacker Dr & Washington St,Damen Ave & Division St,Subscriber,Male,1984.0

In [7]:
chicago.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0

In [9]:
chicago.columns

Index(['Unnamed: 0', 'Start Time', 'End Time', 'Trip Duration',
       'Start Station', 'End Station', 'User Type', 'Gender', 'Birth Year'],
      dtype='object')

In [10]:
chicago.describe()

         Unnamed: 0  Trip Duration     Birth Year
count  3.000000e+05  300000.000000  238981.000000
mean   7.763458e+05     936.239290    1980.858223
std    4.481464e+05    1548.792767      11.003329
min    4.000000e+00      60.000000    1899.000000
25%    3.871368e+05     393.000000    1975.000000
50%    7.771035e+05     670.000000    1984.000000
75%    1.164065e+06    1125.000000    1989.000000
max    1.551500e+06   86224.000000    2016.000000

In [12]:
chicago['Birth Year'].value_counts()

1989.0    14666
1988.0    12490
1991.0    12397
1990.0    12378
1987.0    11939
          ...
2003.0        2
1938.0        2
1909.0        2
2004.0        1
1931.0        1
Name: Birth Year, Length: 79, dtype: int64

In [15]:
chicago['Birth Year'].unique()

array([1992., 1981., 1986., 1975., 1990., 1983.,   nan, 1984., 1979.,
       1993., 1964., 1961., 1985., 1967., 1987., 1980., 1989., 1968.,
       1974., 1970., 1965., 1977., 1972., 1988., 1966., 1991., 1969.,
       1978., 1960., 1963., 1955., 1998., 1994., 1959., 1982., 1971.,
       1954., 1957., 1973., 1976., 1956., 1962., 1952., 1997., 1946.,
       1953., 1949., 1996., 1995., 1951., 1950., 1944., 1999., 1958.,
       1901., 1942., 1948., 1939., 2000., 1945., 1899., 1947., 1900.,
       2002., 1940., 1918., 1930., 1916., 1941., 2016., 1934., 2001.,
       2003., 1938., 1921., 1943., 1906., 1909., 2004., 1931.])

In [17]:
chicago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     300000 non-null  int64
 1   Start Time     300000 non-null  object
 2   End Time       300000 non-null  object
 3   Trip Duration  300000 non-null  int64
 4   Start Station  300000 non-null  object
 5   End Station    300000 non-null  object
 6   User Type      300000 non-null  object
 7   Gender         238948 non-null  object
 8   Birth Year     238981 non-null  float64
dtypes: float64(1), int64(2), object(6)
memory usage: 20.6+ MB

In [18]:
import pandas as pd

filename = 'chicago.csv'

# load data file into a dataframe
df = pd.read_csv(filename)

# convert the Start Time column to datetime
df['Start Time'] = pd.to_datetime(df['Start Time'])

# extract hour from the Start Time column to create an hour column
df['hour'] = df['Start Time'].dt.hour

# find the most popular hour
popular_hour = df['hour'].mode()[0]
    
print('Most Popular Start Hour:', popular_hour)

Most Popular Start Hour: 17

In [19]:
import pandas as pd

filename = 'chicago.csv'

# load data file into a dataframe
df = pd.read_csv(filename)

# convert the Start Time column to datetime
df['Start Time'] = pd.to_datetime(df['Start Time'])

# extract hour from the Start Time column to create an hour column
df['hour'] = df['Start Time'].dt.hour

# find the most common hour (from 0 to 23)
popular_hour = df['hour'].mode()[0]
    
print('Most Frequent Start Hour:', popular_hour)

Most Frequent Start Hour: 17

In [22]:
months = ['january', 'february', 'march', 'april', 'may', 'june']
month = months.index('january')+1

In [23]:
month

1

In [25]:
c = chicago['Trip Duration' == 321]
c

KeyError: False

In [26]:
df = chicago[chicago['Trip Duration'] == 321]

In [27]:
df

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1262,1143748,2017-06-06 17:17:55,2017-06-06 17:23:16,321,Rush St & Superior St,Clark St & Elm St,Subscriber,Male,1989.0
1360,1537324,2017-06-30 08:27:06,2017-06-30 08:32:27,321,Wabash Ave & 8th St,State St & Van Buren St,Subscriber,Male,1981.0
3017,1114884,2017-06-04 19:47:16,2017-06-04 19:52:37,321,University Ave & 57th St,Lake Park Ave & 56th St,Subscriber,Female,1990.0
3984,1388583,2017-06-21 14:05:44,2017-06-21 14:11:05,321,Kingsbury St & Erie St,Clinton St & Washington Blvd,Subscriber,Male,1986.0
...,...,...,...,...,...,...,...,...,...
293789,1120362,2017-06-05 08:45:26,2017-06-05 08:50:47,321,Columbus Dr & Randolph St,Clark St & Randolph St,Subscriber,Female,1987.0
293805,804920,2017-05-12 17:53:29,2017-05-12 17:58:50,321,Wilton Ave & Diversey Pkwy,Hampden Ct & Diversey Pkwy,Subscriber,Male,1977.0
294009,1175824,2017-06-08 16:12:32,2017-06-08 16:17:53,321,Halsted St & Polk St,Racine Ave & Congress Pkwy,Subscriber,Male,1991.0
294842,1333469,2017-06-18 10:32:12,2017-06-18 10:37:33,321,Wabash Ave & 16th St,Wabash Ave & Roosevelt Rd,Subscriber,Female,1983.0
298698,743998,2017-05-06 12:20:46,2017-05-06 12:26:07,321,Sheffield Ave & Webster Ave,Sedgwick St & Webster Ave,Subscriber,Male,1972.0

In [31]:
import pandas as pd

CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """
    
    # load data file into a dataframe
    df = pd.read_csv(CITY_DATA[city])

    # convert the Start Time column to datetime
    df['Start Time'] = pd.to_datetime(df['Start Time'])

    # extract month and day of week from Start Time to create new columns
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.day_name()

    # filter by month if applicable
    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = months.index(month) + 1
    
        # filter by month to create the new dataframe
        df = df[df['month'] == month]

    # filter by day of week if applicable
    if day != 'all':
        # filter by day of week to create the new dataframe
        df = df[df['day_of_week'] == day.title()]
    
    return df

    
df = load_data('chicago', 'march', 'friday')

In [32]:
df

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
37,395803,2017-03-24 15:35:55,2017-03-24 15:46:10,615,Dearborn St & Erie St,State St & Van Buren St,Subscriber,Male,1989.0,3,Friday
93,395735,2017-03-24 15:32:04,2017-03-24 15:52:53,1249,Sedgwick St & Webster Ave,Western Ave & Winnebago Ave,Subscriber,Female,1964.0,3,Friday
175,395402,2017-03-24 15:10:29,2017-03-24 15:19:44,555,Franklin St & Monroe St,Aberdeen St & Monroe St,Subscriber,Male,1987.0,3,Friday
190,393400,2017-03-24 12:29:30,2017-03-24 12:48:56,1166,Southport Ave & Wellington Ave,Lake Shore Dr & North Blvd,Subscriber,Female,1984.0,3,Friday
198,427496,2017-03-31 08:25:53,2017-03-31 08:39:09,796,Clinton St & Jackson Blvd,Racine Ave (May St) & Fulton St,Subscriber,Male,1983.0,3,Friday
...,...,...,...,...,...,...,...,...,...,...,...
299816,333246,2017-03-10 17:40:53,2017-03-10 17:44:59,246,Wells St & Walton St,Rush St & Cedar St,Subscriber,Female,1992.0,3,Friday
299839,392682,2017-03-24 11:17:50,2017-03-24 11:51:44,2034,Lake Shore Dr & Monroe St,Streeter Dr & Grand Ave,Customer,NaN,NaN,3,Friday
299860,290125,2017-03-03 12:19:29,2017-03-03 12:32:58,809,Aberdeen St & Monroe St,Clark St & 9th St (AMLI),Subscriber,Male,1975.0,3,Friday
299865,288513,2017-03-03 07:26:48,2017-03-03 07:31:22,274,Damen Ave & Melrose Ave,Lincoln Ave & Roscoe St,Subscriber,Female,1981.0,3,Friday
299898,292757,2017-03-03 19:30:48,2017-03-03 19:34:52,244,Clark St & Berwyn Ave,Broadway & Berwyn Ave,Subscriber,Male,1980.0,3,Friday

In [36]:

c = input('Would you like to see the data for chicago, new york city or washington\n').lower()

Would you like to see the data for chicago, new york city or washington
KIRAN

In [37]:
c

'kiran'

In [38]:
    while True:
        try:
            city = input('Would you like to see the data for Chicago, New York or Washington?\n').lower()
            break
        except:
            print('That is not a valid input! Try again\n')

Would you like to see the data for Chicago, New York or Washington?
kiran

In [6]:
CITY_DATA = { 
    'chicago': 'chicago.csv', 
    'new york': 'new_york_city.csv', 
    'washington': 'washington.csv' 
}

while True:
    try:
        city = input("Enter a city name: ").lower()
        assert city in CITY_DATA.keys()
        print("City name found!")
        break
    except:
        print('Invalid Data! Try again')

Enter a city name: chicago
City name found!

In [ ]:
l

In [7]:
df = pd.read_csv(CITY_DATA[city])

In [9]:
new_df = df['Start Station']

In [10]:
new_df

0                  Wood St & Hubbard St
1                   Theater on the Lake
2                    May St & Taylor St
3         Christiana Ave & Lawrence Ave
4                Clark St & Randolph St
                      ...
299995          Orleans St & Elm St (*)
299996       Ashland Ave & Blackhawk St
299997    Ravenswood Ave & Lawrence Ave
299998        Sheffield Ave & Willow St
299999        Wacker Dr & Washington St
Name: Start Station, Length: 300000, dtype: object

In [33]:
new = df[['Start Station', 'End Station']].copy()

In [34]:
new = new.style.hide_index()

C:\Users\Kiran\AppData\Local\Temp\ipykernel_15076\1074169185.py:1: FutureWarning: this method is deprecated in favour of `Styler.hide(axis='index')`
  new = new.style.hide_index()

In [37]:
popular_se_station = new.mode()

AttributeError: 'Styler' object has no attribute 'mode'

In [29]:
popular_se_station

             Start Station              End Station
0  Streeter Dr & Grand Ave  Streeter Dr & Grand Ave

In [30]:
 print('Most Popular trip from start to end:', popular_se_station['Start Station'], popular_se_station['End Station'])

Most Popular trip from start to end: 0    Streeter Dr & Grand Ave
Name: Start Station, dtype: object 0    Streeter Dr & Grand Ave
Name: End Station, dtype: object

In [39]:
    df['trip'] = df['Start Station'] + ' - ' + df['End Station']
    most_frequent_trip = df['trip'].mode()[0]
    print('Most Popular trip from start to end:', most_frequent_trip)

Most Popular trip from start to end: Lake Shore Dr & Monroe St - Streeter Dr & Grand Ave

In [43]:
    df['Start Time'] = pd.to_datetime(df['Start Time'])
    df['End Time'] = pd.to_datetime(df['End Time'])  
    df['total travel time'] = df['End Time'] - df['Start Time']
    total = df['total travel time'].sum()

In [44]:
total

Timedelta('3250 days 21:56:27')

In [45]:

seconds = total.total_seconds()
print(seconds)

280878987.0

In [46]:
    mean_travel_time = df['total travel time'].mean()
    mean_seconds = total_travel_time.total_seconds()
    print("Average Travel Time", mean_seconds)

NameError: name 'total_travel_time' is not defined

In [52]:
df['Birth Year'].max()

2016.0

In [53]:
df['Birth Year'].min()

1899.0

In [54]:
    popular_year = df['Birth Year'].mode()[0]
    print('Most Popular Month:', popular_year)

Most Popular Month: 1989.0

In [57]:
    print("Oldest, Youngest and Most Popular Year of Birth : {}, {}, {}".format(df['Birth Year'].min(), df['Birth Year'].max(), df['Birth Year'].mode()[0]))

Oldest, Youngest and Most Popular Year of Birth : 1899.0, 2016.0, 1989.0